/*
!swayidle/
!nixos/
nixos/result
!guix/
!guix_only/
!fontconfig/
!cwc
!mpv/
!solaar/
!ncpamixer.conf
!pipewire
!vimfx
!xkb
!flameshot
!git
!.gitmodules
!zshrc
!shprofile 
!picom.conf
!pacman-installed
!pacman-ex-installed 
!chromium-flags.conf
!bashrc
!README.md 
!zdm/
!xdg-desktop-portal-wlr/
!wofi/
!wallpaper
!tofi/
!sxhkd/
!sway/
!shell/
!root/
!river/
!river-luatile/
!qutebrowser/
!qtile/
!nvim/
!ncmpcpp/
!mpd/
!kitty/
!keepassxc/
!kanshi/
!i3sway/
!i3/
!hypr/
!dunst/
!castero/
!bspwm/
!awesome/
!alacritty/
!Xwayland/
!VFIOinput/
!MangoHud/
!Kvantum/
!Epic/PortalWars/
!yazi/
!fastfetch
!gammastep
!waybar
!launchscript.toml
!bookmarks.toml
!ranger
!home-manager
!gentoo_only
!fuzzel/
qutebrowser/greasemonkey/disable/deadname.js

git/credentials
SideQuest
