[Desktop Entry]
Name=Vesktop
Exec=/home/zuki/.local/bin/vesktop
Terminal=false
Type=Application
Icon=dev.vencord.Vesktop
StartupWMClass=Vesktop
X-AppImage-Version=1.5.5
GenericName=Internet Messenger
Categories=Network;
Keywords=discord;vencord;electron;chat;
MimeType=x-scheme-handler/discord;
Comment=Vesktop is a custom Discord desktop app
X-Desktop-File-Install-Version=0.28
X-Flatpak=dev.vencord.Vesktop
