* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    /* background-color: #8458b3; */
    background-color: transparent; 
    /* border-bottom: 0px solid #26292C; */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}
#workspaces button{
    border-bottom: 3px transparent;
}
#workspaces button.urgent { /* set urgent workspaces to red(wine) */
    border-bottom: 3px solid #722F37;
}
#workspaces button.active{
    /* background-color: #6D6566; */
    /* box-shadow: inset 0 -3px #ffffff; */
    border-bottom: 3px solid white;
}
#workspaces button:hover {
    border-color: transparent;
    border-bottom: 3px solid pink;
    /* background: inherit; */
    /* box-shadow: inset 0 -3px #ffffff; */
}
button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
}

#tray {
    padding-right: 4px;
}
/* set tray right click menu colors */
#tray menu {
    color: pink; 
    background: #452c63; /* Hallmark Purple */
}
/* set tray menu item colors when hovering over a item */
#tray menu menuitem:hover {
    background: black;
    color: pink;
}
#tray > .needs-attention {
    border-bottom: 3px solid red;
}

/* add hover effects for power menu buttons to better indecate which one is selected */
#custom-lock:hover {
    border-bottom: 3px solid pink;
}
#custom-reboot:hover {
    border-bottom: 3px solid pink;
}
#custom-power:hover {
    border-bottom: 3px solid pink;
}
#custom-quit:hover {
    border-bottom: 3px solid pink;
}
#custom-power {
    padding-right: 1px;
    padding-left: 4px;
}


box.horizontal.modules-right {
    padding-right: 0px;
}


window#waybar.hidden {
    opacity: 0.2;
}

/*
box.horizontal.modules-left {
    background-color: #26292C;
    border-left: 50px solid #26292C;
    border-radius: 3px;
    border-left: 6px solid #26292C;
    border-bottom: 3px solid #26292C;
}
box.horizontal.modules-center {
    background-color: #26292C;
    border-radius: 6px;
    border-right: 6px solid #26292C;
    border-left: 6px solid #26292C;
    border-bottom: 4px solid #26292C;
border-top: 4px solid #26292C;
}
*/
/*
box.horizontal.modules-right {
background-color: #26292C;
    border-radius: 6;
    border-right: 6px solid #26292C;
    border-left:  6px solid #26292C;
    border-bottom: 4px solid #26292C;
    border-top: 4px solid #26292C;
} */

